Repository Aikeilol/team-project: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, test

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

test:
  run: yarn test {staged_files}

Добавил тесты в лефтХук
  lefthook.yml
Due: none

тест
  packages/client/src/components/Game/utils/index.test.ts
Due: lint, prettier, test

test
  packages/client/src/components/Game/utils/index.test.ts
Due: lint, prettier, test

fix App test
  packages/client/src/pages/App/App.test.tsx
Due: lint, prettier, test

tea-57 добавил тесты в лефтХук
  lefthook.yml
Due: none

TEA-29. Документ с описанием механик и логики игры
  docs/README.md
  docs/game.md
  docs/logic.md
  docs/logic/snake_game.jpg
Due: none

TEA-29. Документ с описанием механик и логики игры ч.2
  docs/README.md
  docs/game.md
  docs/logic.md
  docs/scenario.md
Due: none

TEA-29. Документ с описанием механик и логики игры ч.3
  docs/game.md
  docs/logic.md
  docs/scenario.md
Due: none

TEA-29. Документ с описанием механик и логики игры ч.4
  docs/game.md
  docs/logic.md
  docs/scenario.md
Due: none

TEA-77 500 ошибка на странице авторизации и регистрации | Неверный редирект после логаута
  packages/client/src/components/Profile/ProfileFooter/index.tsx
  packages/client/src/components/Profile/ProfileHeader/index.tsx
  packages/client/src/router/actions/signUpAction.ts
  packages/client/src/utils/scripts/api/profileApi.ts
  packages/client/src/utils/scripts/api/yandexApi.ts
  packages/client/src/utils/scripts/constants.ts
Due: lint, prettier

tea-57 Поправил тест
  packages/client/src/App.test.tsx
Due: lint, prettier, test

tea-57 Добавил тест на hasCollision
  packages/client/src/components/Game/Snake/index.test.ts
  packages/client/src/components/Game/utils/index.test.ts
Due: lint, prettier, test

TEA-61. Добавить API для лидерборда
  packages/client/src/components/GameEndDialog/index.tsx
  packages/client/src/components/LeaderBoard/LeaderBoardItem/index.tsx
  packages/client/src/components/LeaderBoard/LeaderBordList/index.tsx
  packages/client/src/components/LeaderBoard/data.ts
  packages/client/src/components/LeaderBoard/types.ts
  packages/client/src/pages/LeaderBord/index.tsx
  packages/client/src/utils/scripts/api/leaderBoardApi.ts
  packages/client/src/utils/scripts/api/types.ts
Due: lint, prettier

TEA-61. API для лидерборда
  packages/client/src/components/Game/index.tsx
  packages/client/src/components/GameEndDialog/index.tsx
Due: lint, prettier

TEA-61. fix типизации
  packages/client/src/components/LeaderBoard/types.ts
Due: lint, prettier

TEA-61. правки ревью
  packages/client/src/components/Game/index.tsx
  packages/client/src/utils/scripts/api/types.ts
  packages/client/src/utils/scripts/constants.ts
Due: lint, prettier

memory leaks
  docs/memoryleaks/MEMORYLEAKS.md
  docs/memoryleaks/heap-size.png
  docs/memoryleaks/memory.png
  docs/memoryleaks/performance1.png
  docs/memoryleaks/performance2.png
Due: none

Настроить Express для Server Side Rendering (без Redux)
  packages/client/entry-server.tsx
  packages/client/index.html
  packages/client/index.js
  packages/client/package.json
  packages/client/src/components/Game/constants.ts
  packages/client/src/components/Game/index.tsx
  packages/client/src/entry-client.tsx
  packages/client/src/router/index.tsx
  packages/client/ssr.config.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier

fix path
  packages/server/package.json
Due: none

fix entry-client
  packages/client/src/entry-client.tsx
Due: lint, prettier

TEA-61. fix ревью
  packages/client/src/components/Game/index.tsx
  packages/client/src/components/LeaderBoard/LeaderBoardItem/index.tsx
  packages/client/src/components/Profile/ProfileHeader/index.tsx
  packages/client/src/utils/scripts/api/leaderBoardApi.ts
  packages/client/src/utils/scripts/getPath.ts
Due: lint, prettier

add server-side redux
  packages/client/entry-server.tsx
  packages/client/src/store/slices/userSlice.ts
  packages/client/src/store/store.ts
  packages/client/src/utils/scripts/constants.ts
  packages/server/index.ts
Due: lint, prettier

replace new Image()
  packages/client/src/components/Game/constants.ts
  packages/client/src/components/Game/index.tsx
Due: lint, prettier

sound and notification apis
  packages/client/src/App.tsx
  packages/client/src/components/Game/Snake/index.ts
  packages/client/src/components/Game/constants.ts
  packages/client/src/components/Game/index.tsx
  packages/client/src/components/Game/sounds/eating_sound.mp3
  packages/client/src/components/Game/sounds/lose_sound.mp3
  packages/client/src/components/Game/sounds/step_sound.mp3
  packages/client/src/context/AppContext/index.ts
  packages/client/src/utils/notifications/index.ts
Due: lint, prettier

rebase ssr + review fixes
  packages/client/src/App.tsx
  packages/client/src/client.d.ts
  packages/client/src/components/Game/Snake/index.ts
  packages/client/src/components/Game/constants.ts
  packages/client/src/components/Game/index.tsx
  packages/client/src/entry-client.tsx
  packages/client/src/utils/notifications/index.ts
Due: lint, prettier

linter
  .eslintrc.js
  packages/client/src/App.tsx
  packages/client/src/components/Form/components/components/CustomInput.tsx
Due: lint, prettier

review fix
  packages/client/entry-server.tsx
  packages/client/src/components/Game/index.test.tsx
  packages/client/src/components/Game/index.tsx
  packages/client/src/context/AppContext/index.ts
  packages/client/src/entry-client.tsx
Due: lint, prettier, test

add server router
  packages/client/entry-server.tsx
  packages/client/src/App.tsx
  packages/client/src/router/index.tsx
  packages/server/package.json
  yarn.lock
Due: lint, prettier

add router
  packages/client/entry-server.tsx
  packages/client/src/router/index.tsx
  packages/client/src/router/loaders/redirectLoader.ts
Due: lint, prettier

add router
  packages/client/entry-server.tsx
  packages/client/src/router/index.tsx
  packages/server/package.json
  yarn.lock
Due: lint, prettier

add serverside redux
  packages/client/src/router/index.tsx
Due: lint, prettier

добавил проверку на srr
  packages/client/src/entry-client.tsx
  packages/client/src/router/index.tsx
Due: lint, prettier

fix store hydration
  packages/client/src/store/store.ts
Due: lint, prettier

fix store hydration
  packages/client/src/entry-client.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  test: any of: *.test.{ts,tsx}
